.navbar-transparent {
  background: transparent;
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar-transparent .nav-link,
.navbar-transparent .btn-demo {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  background-color: #f1f1f1; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .btn-demo {
  color: black !important;
}

.backgroundimg {
  background: linear-gradient(to right, #c7cec8, #eaebea, #D0DDD0, #f6f6f6);
}

.home-header-section {
  height:100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.home-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.home-header-content {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 20px;
}

.dropdown-menu .dropdown-item:hover {
  color: grey !important;
  background-color: transparent !important;
}
.dropdown-menu .dropdown-item.active, 
.dropdown-menu .dropdown-item:active {
  background-color: transparent !important;
  color: grey !important;
}
.dropdown-item:focus, 
.dropdown-item:active {
  box-shadow: none !important;
}

.cardshadow{
  height: 180px !important;
  width: 180px !important;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.servicecard {
  height: 230px !important;
  width: 280px !important;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin-top: 20px;
}

.text-purple {
  color: #7D0A0A;
}

.nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-tabs .nav-link {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 16px 21px;
  color: #7D0A0A;
  transition: all 0.3s ease-in-out;
  height: 110px;
  width: 140px;
}

.nav-tabs .nav-link:hover {
  background: #f8f9fa;
}

.nav-tabs .nav-link.active {
  background: #7D0A0A;
  color: #fff;
  border-color: #7D0A0A;
  box-shadow: 1px 1px 5px rgba(0, 123, 255, 0.3);
  transform: scale(1.1);
}

.tab-content {
  margin-top: 30px;
  background: #fff;
  border-radius: 10px;
}

@media (max-width: 776px) {
  .tab-content>.tab-pane {
      display: block;
      opacity: 1;
  }
}

@media (min-width: 992px) {

  .tab-pane.accordion-item {
      border: 1px solid #dee2e6;
      border-radius: 10px;
      background: #fff;
  }

  .tab-pane.accordion-item:not(.show) {
      border-top: 1px solid #dee2e6;
  }
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #7D0A0A;

}

.accordion-button {
  background-color: #f8f9fa;
  color: black;
}

.accordion-button::after {
  filter: brightness(0);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.accordion-button:focus {
  box-shadow: none !important;
}

.keyfeatures .card {
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.keyfeatures .overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(156, 1, 1, 0.836);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: left 0.8s ease-in-out, opacity 0.5s ease-in-out;
  color: white;
}

.keyfeatures .card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.20);
}

.keyfeatures .card:hover .overlay {
  left: 0;
  opacity: 1;
}

.choukashicard {
  height: 125px !important;
  width: 180px !important;
  box-shadow: 5px 5px 0px #7D0A0A ;
  border: 1px solid #7D0A0A;
}

.choukashicard {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
}

.choukashicard.visible {
  opacity: 1;
  transform: scale(1);
}

.aboutPage{
  height: 270px;
  margin-top: 70px;
  border-radius: 30px;
}

.about-card-text {
  text-align: justify;
}

.teamcard{
  height: 250px;
  width: 320px;
}

.contactbox{
  height: 80px;
  width: 400px;
  background-color: white;
  border-radius: 30px;
}

.dotted-line {
  border-left: 2px dotted grey;
  height: 100px; 
  margin: 0 auto;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 10s ease-in-out infinite;
}

scrollbehavior {
  scroll-behavior: smooth;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.headerImg {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 2s ease forwards;
  will-change: transform, opacity;
}

.whereWeRefer-section {
  opacity: 0;
  transform: scale(0.95);
  transition: all 3s ease-in-out;
}

.whereWeRefer-section.visible {
  opacity: 1;
  transform: scale(1);
}

.keyFeature-section {
  opacity: 0;
  transform: skewY(3deg) translateY(60px);
  transition: all 2s ease;
}

.keyFeature-section.visible {
  opacity: 1;
  transform: skewY(0) translateY(0);
}

.about-section {
  opacity: 0;
  transform: rotate(-5deg) scale(0.95);
  transition: all 3s ease;
}
.about-section.visible {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.fade-zoom-out {
  opacity: 0;
  transform: scale(1.2);
  transition: all 1s ease-out;
}

.fade-zoom-out.visible {
  opacity: 1;
  transform: scale(1);
}

.overlay-content {
  max-width: 60%;
  border-radius: 10px;
}

.boxshadow {
  height: 610px;
  width: 100%;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.imgstyle {
  height:"100%";
   width:"100%";
  margin-top:"80px";
  border-radius: 10px 10px;
}

.chooseShadow{
  box-shadow: #80808063 2px 2px 3px;
  border: 1px solid #8080801f;
}

#contact {
  scroll-margin-top: 80px; 
}

@media (max-width: 991.98px) { 
  .navbar-transparent {
    background-color: white !important;
  }
  .navbar-transparent .nav-link,
  .navbar-transparent .btn-demo {
  color: black !important;
  }
  .choukashicard {
    height: 110px !important;
    width: 160px !important;
  }
  .keyfeatures .card:hover {
    transform: none;
  }
}

@media (max-width: 767.98px) {
  .choukashicard {
    width: 90% !important;
    height: auto !important;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .choukashicard .card-body {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .choukashicard .card-content {
    flex-direction: row !important;
    justify-content: start;
    width: 100%;
  }

  .choukashicard .card-title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .keyfeatures .card:hover {
    transform: none; 
  }
}
